dj-database-url==0.5.0
dj-static==0.0.6
Django==4.0.2
django-bootstrap4==23.2
django-ckeditor==6.7.0
django-appconf==1.0.6 
django-imagekit==5.0.0 
pilkit==3.0
gunicorn==21.2.0
Pillow
psycopg2-binary
PyMySQL==1.1.0.
reportlab==3.6.8
requests==2.31.0
responses==0.23.3
sqlparse==0.4.1
static3==0.7.0
whitenoise==6.6.0