Django==4.2.11
gunicorn==21.2.0
whitenoise==6.6.0
dj-database-url==2.1.0

django-bootstrap5==24.2
django-ckeditor==6.7.0
django-imagekit==5.0.0

Markdown==3.5.1
Pillow==10.2.0

psycopg2-binary==2.9.9
requests==2.31.0
sqlparse==0.4.4