@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/* GENERAL */
* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /*text-decoration: none;*/
  border: none;
  overflow: auto;
  width: 100%;
  height: 100vh;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  background-image: var(--grad);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

:root {
  --main-color: #7F77AC;
  --aux-color: rgba(51, 36, 65, 255);
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --grad: linear-gradient(21deg,
      rgba(51, 36, 65, 255) 68%,
      rgba(255, 206, 196, 0.5) 125%),
    linear-gradient(163deg,
      rgba(49, 146, 170, 0.07944489965716128) 86%,
      rgb(156, 132, 184) 40%),
    linear-gradient(30deg,
      rgba(51, 36, 65, 255)22%,
      rgba(237, 106, 134, 0.5) 125%),
    linear-gradient(48deg,
      rgba(31, 85, 147, 0.7323890641868473) 64%,
      rgba(247, 126, 132, 0.5) 43%);
  background-blend-mode: overlay, multiply, normal;
}

html {
  font-size: 62.5%;
  overflow: hidden;
  /*ESCONDE O SCROLL*/
}

/* HEADER */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--grad);
  /*var(--bg-color)*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header.sticky {
  border-bottom: .1rem solid var(--main-color);
}


.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
  text-decoration: none;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}



.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: linear-gradient(21deg,
        rgba(51, 36, 65, 255) 68%,
        rgba(255, 206, 196, 0.5) 125%),
      linear-gradient(163deg,
        rgba(49, 146, 170, 0.07944489965716128) 86%,
        rgb(156, 132, 184) 40%);
  }
  
  .about-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 45%;
  }
  
  .about-img img {
    width: 80%;
    height: 80%;
    object-fit: cover;
  }
  
  .heading {
    text-align: center;
    font-size: 4.5rem;
  }
  
  .about-content h2 {
    text-align: left;
    line-height: 1.2;
    color: #fff;
  }
  
  .about-content h3 {
    font-size: 2.6rem;
    color: #fff;
  }
  
  .about-content p {
    font-size: 2rem;
    color: #fff;
    margin: 2rem 0 3rem;
  }
  
   /* Estilos adicionais para a classe "about-profile" */
   .about-profile {
    position: relative;
    margin: 20px 0 30px 0;
  }
  
  .about-profile .pro-title {
    font-weight: 700;
    color: #fff;
    position: relative;
    width: 120px;
    display: inline-block;
    margin-bottom: 5px;
  }
  
  .about-profile .pro-title:after {
    position: absolute;
    content: ':';
    color: #fff;
    font-size: 14px;
    left: 77px;
  }
  
  .about-profile .admin-sign {
    position: absolute;
    right: 45px;
    bottom: 10px;
  }
  
  .about-profile .presentation {
    color: #fff;
  }
  
  /* EDUCATION - EXPERIENCE*/
  
 