{% load static %}
{% extends 'base.html' %}


<section class="about" id="about">
    <div class="about-img">
        <img src="{% static 'images/about.png' %}" class="about-img">
    </div>
    <div class="about-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-content">
                    <h2 class="heading">About <span>Me</span></h2>
                    <h3>{{ about.0.about }}</h3>
                    <p>{{ about.0.description }}</p>
                </div>
            </div>
        </div>

        <div id="resume" class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="education wow fadeInRight" data-wow-delay="0.3s">
                            <ul class="timeline">
                                <li>
                                    <i class="icon-graduation"></i>
                                    <h2 class="timelin-title">Education</h2>
                                </li>
                                {% for a in about %}
                                <li>
                                    <div class="content-text">
                                        <h3 class="line-title">{{ a.college }}</h3>
                                        <span>{{ a.year }}</span>
                                        <p class="line-text">{{ a.class_description }}</p>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="experience wow fadeInRight" data-wow-delay="0.6s">
                            <ul class="timeline">
                                <li>
                                    <i class="icon-briefcase"></i>
                                    <h2 class="timelin-title">Experience</h2>
                                </li>
                                {% for a in about %}
                                <li>
                                    <div class="content-text">
                                        <h3 class="line-title">{{ a.company }}</h3>
                                        <span>{{ a.job_year }}</span>
                                        <p class="line-text">{{ a.job_description }}</p>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% else %}
    <p>Nenhum dado encontrado.</p>
</section>
