<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Raíssa Azevedo</title>

    <!-- box icons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

    <!-- custom css -->
    <link rel="stylesheet" href="css/about.css" />

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--Favicon-->
    <link rel="shortcut icon" href="images/Raissa Azevedo.png" type="image/x-icon">
</head>
    <!-- header design -->
    <header class="header">
        <a href="#home"><img src="images/rai-logo.png" height="40" alt=""></a>

        <i class='bx bx-menu' id="menu-icon"></i>

        <nav class="navbar">
            <a href="#home" class="active">Home</a>
            <a href="#about">About</a>
            <a href="#services">Services</a>
            <a href="#portfolio">Portfolio</a>
            <a href="blog.html" target="_blank">Blog</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>

    <!-- ABOUT PAGE CONTENT-->
    <!-- About Section Start -->
    <section id="about" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
                        <img class="img-fluid" src="#Minhaimagem" alt="Minha foto aqui">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
                        <h3 class="presentation">Hi Guys!</h3>
                        <p>Est diam venenatis arcu lacus ad. Duis quis eros. Cursus et rutrum eleifend sollicitudin
                            lacinia justo id turpis. Nec convallis integer. Odio eget duis. Nulla aenean et. Blandit
                            varius sollicitudin. Pellentesque leo primis neque urna magnis. Elit ut sollicitudin. Et est
                            a nam dolores eget itaque sagittis et parturient duis est eleifend sociis rutrum odio
                            viverra integer.</p>
                        <div class="about-profile">
                            <ul class="admin-profile">
                                <li><span class="pro-title"> Name </span> <span class="pro-detail">Raissa Azevedo</span>
                                </li>
                                <li><span class="pro-title"> Experience </span> <span class="pro-detail">2 Years</span>
                                </li>
                                <li><span class="pro-title"> Country </span> <span class="pro-detail">Brazil</span></li>
                                <li><span class="pro-title"> Location </span> <span class="pro-detail">Vila Velha - ES</span></li>
                                <li><span class="pro-title"> e-mail </span> <span
                                        class="pro-detail">email@example.com</span></li>
                                <li><span class="pro-title"> Freelance </span> <span class="pro-detail">Available</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Section End -->
        <br>
        <!-- Resume Section Start -->
        <div id="resume" class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="education wow fadeInRight" data-wow-delay="0.3s">
                            <ul class="timeline">
                                <li>
                                    <i class="icon-graduation"></i>
                                    <h2 class="timelin-title">Education</h2>
                                </li>
                                <li>
                                    <div class="content-text">
                                        <h3 class="line-title">Bsc In CSE - Yale University</h3>
                                        <span>2012 - 2016</span>
                                        <p class="line-text">Expenses as material breeding insisted building to in.
                                            Continual so distrusts pronounce by unwilling listening. Thing do taste on
                                            we
                                            manor.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="content-text">
                                        <h3 class="line-title">Higher Secondary School - San Francisco College</h3>
                                        <span>2010 - 2012</span>
                                        <p class="line-text">Expenses as material breeding insisted building to in.
                                            Continual so distrusts pronounce by unwilling listening. Thing do taste on
                                            we
                                            manor.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="content-text">
                                        <h3 class="line-title">Secondary School - Labratory High School</h3>
                                        <span>2005 - 2010</span>
                                        <p class="line-text">Expenses as material breeding insisted building to in.
                                            Continual so distrusts pronounce by unwilling listening. Thing do taste on
                                            we
                                            manor.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="experience wow fadeInRight" data-wow-delay="0.6s">
                            <ul class="timeline">
                                <li>
                                    <i class="icon-briefcase"></i>
                                    <h2 class="timelin-title">Experience</h2>
                                </li>
                                <li>
                                    <div class="content-text">
                                        <h3 class="line-title">Art Director - Tesla Inc.</h3>
                                        <span>Jan 2018 - Present</span>
                                        <p class="line-text">Expenses as material breeding insisted building to in.
                                            Continual so distrusts pronounce by unwilling listening. Thing do taste on
                                            we
                                            manor.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="content-text">
                                        <h3 class="line-title">UX/UI Designer - Samsung</h3>
                                        <span>Nov 2016 - Dec 2017</span>
                                        <p class="line-text">Expenses as material breeding insisted building to in.
                                            Continual so distrusts pronounce by unwilling listening. Thing do taste on
                                            we
                                            manor.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="content-text">
                                        <h3 class="line-title">Intern UI Designer - UIdeck</h3>
                                        <span>Mar 2015 - Oct 2016</span>
                                        <p class="line-text">Expenses as material breeding insisted building to in.
                                            Continual so distrusts pronounce by unwilling listening. Thing do taste on
                                            we
                                            manor.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Resume Section End -->
    </section>



    <!-- footer design -->

    <footer class="footer">
        <div class="footer-text">
            <p>@ 2023 Raíssa Azevedo, Inc</p>
        </div>

        <a href="#home" class="foot-btn"><i class='bx bxs-up-arrow-circle'></i></a>

        <div class="footer-iconTop">
            <a href="https://www.linkedin.com/in/rai-azevedo/" target="_blank"><i class='bx bxl-linkedin'></i></a>
            <a href="https://github.com/Raii-Azevedo" target="_blank"><i class='bx bxl-github'></i></a>
            <a href="https://www.instagram.com/raiissa.azevedo/" target="_blank"><i class='bx bxl-instagram'></i></a>
            <a href="https://www.youtube.com/channel/UCEKsppYChQTSNh-OMHgrdWQ" target="_blank"><i
                    class='bx bxl-youtube'></i></a>
        </div>

    </footer>

    </section>


    <!-- scroll reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- typed js -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <!-- custom js -->
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>