{% load static %}
{% load markdown %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raíssa Azevedo - Blog</title>

    <!-- box icons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/Raissa Azevedo.png' %}" type="image/x-icon">
</head>

<body>
    <div class="head">
        <div class="headerobjectswrapper">
            <div class="second-header">CODE JOURNEY</div>
        </div>
        <div id="post-info" class="subhead"></div>
    </div>
    {% block content %}
    {{ content|markdown }}

    <!-- GPAGE CONTENT-->
    <div class="content">
        {% for c in content %}
        <div class="collumns">
            <div class="collumn">
                <div class="head">
                    <span class="headline hl3">{{ c.title }}</span>
                    <p><span class="headline hl4">{{ c.author }}</span></p>
                </div>
                {{ c.resume }}
                <br>
                {{ c.content }}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}

    <script src="{% static 'js/script.js' %}"></script>
    <script>
        /*==================== BLOG HEAD CONTENT ====================*/

        document.addEventListener("DOMContentLoaded", function () {
            // Obter a data atual
            var currentDate = new Date();
            var formattedDate = currentDate.toLocaleDateString("en-US", { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });

            // Obter o número de páginas no blog (isso pode ser uma variável dinâmica dependendo de como você implementa o blog)
            var pageCount = 7; // Exemplo de um número fixo de páginas

            // Atualizar o conteúdo da div com as informações dinâmicas
            var postInfo = document.getElementById("post-info");
            postInfo.innerHTML = formattedDate + " - " + pageCount + " Pages";
        });

    </script>
</body>

</html>
