{% load static %}
<footer class="footer-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
              <ul class="social-icon">
                    <a class="facebook" href="https://www.facebook.com/raiissa.azevedo" target="_blank"><i class="icon-social-facebook"></i></a>

                    <a class="twitter" href="https://twitter.com/Raiissa_Azevedo" target="_blank"><i class="icon-social-twitter"></i></a>

                    <a class="instagram" href="https://www.instagram.com/raiissa.azevedo/"target="_blank"><i class="icon-social-instagram"></i></a>

                    <a class="linkedin" href="https://www.linkedin.com/in/raissa-azevedo-555893120/" target="_blank"><i class="icon-social-linkedin"></i></a>

                    <a class="github" href="https://github.com/Raii-Azevedo" target="_blank"><i class="icon-social-github" ></i></a>

                    <a class="behance" href="https://www.behance.net/raissa-azevedo" target="_blank"><i class="icon-social-behance" ></i></a>
              </ul>
              <p>Copyright © 2018 UIdeck All Right Reserved</p>
            </div>
          </div>
        </div>
      </div>
    </footer>