{% load static %}
{% extends 'base.html' %}

<!-- home section design -->

<section class="home" id="home">
    {% if home %}
    {% for h in home %}
    <div class="home-content">
        <h3>Hello, i'm</h3>
        <h1>Raíssa Azevedo</h1>
        <h3>and i am a <span class="multiple-text"></span></h3>
        <p>{{ h.short }}</p>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/rai-azevedo/" target="_blank"><i class='bx bxl-linkedin'></i></a>
            <a href="https://github.com/Raii-Azevedo" target="_blank"><i class='bx bxl-github'></i></a>
            <a href="https://www.instagram.com/raiissa.azevedo/" target="_blank"><i
                    class='bx bxl-instagram'></i></a>
            <a href="https://www.youtube.com/channel/UCEKsppYChQTSNh-OMHgrdWQ" target="_blank"><i
                    class='bx bxl-youtube'></i></a>
        </div>

        <button type="button" class="round-btn" onclick="validateAndRedirect()">Download CV</button>
    </div>

    <div class="home-img">
        <img src="{% static 'images/home.png' %}" alt="">
    </div>
    {% endfor %}
    {% else %}
    <p>Nenhum dado encontrado.</p>
    {% endif %}
</section>
