{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- HOME Content -->
{% if home %}
    {% include 'home.html' %}
{% endif %}
<!-- END of HOME Content -->

<!-- ABOUT Content -->
{% if about %}
    {% include 'about.html' %}
{% endif %}
<!-- END of ABOUT Content -->

<!-- SERVICE Content -->
{% if service %}
    {% include 'service.html' %}
{% endif %}
<!-- END of SERVICE Content -->

<!-- PORTFOLIO Content -->
{% if project %}
    {% include 'portfolio.html' %}
{% endif %}
<!-- END of PORTFOLIO Content -->

<!-- CONTACT Content -->
{% include 'contact.html' %}
<!-- END of CONTACT Content -->

{% endblock %}