{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- HOME Content -->
{% include 'home.html' %}
<!-- END of HOME Content -->

<!-- ABOUT Content -->

{% include 'about.html' %}
<!-- END of ABOUT Content -->

<!-- SERVICE Content -->
{% include 'service.html' %}
<!-- END of SERVICE Content -->

<!-- PORTFOLIO Content -->
{% include 'portfolio.html' %}

<!-- END of PORTFOLIO Content -->

<!-- CONTACT Content -->
{% include 'contact.html' %}
<!-- END of CONTACT Content -->

{% endblock %}