{% load static %}

<!-- portfolio section design -->
<section class="portfolio" id="portfolio">
    <h2 class="heading">Latest <span>Projects</span></h2>

    <div class="portfolio-container">
        <div class="portfolio-box">
            <img src="{% static 'images/portfolio1.jpg' %}" alt="">
            <div class="portfolio-layer">
                <h4>Web Design</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim minus eligendi quaerat
                    excepturi. Labore neque minus deserunt totam et nesciunt doloribus sequi dolore autem alias,
                    voluptatem doloremque eum aliquam?</p>
                <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="{% static 'images/portfolio2.jpg' %}" alt="">
            <div class="portfolio-layer">
                <h4>Web Design</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim minus eligendi quaerat
                    excepturi. Labore neque minus deserunt totam et nesciunt doloribus sequi dolore autem alias,
                    voluptatem doloremque eum aliquam?</p>
                <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="{% static 'images/portfolio3.jpg' %}" alt="">
            <div class="portfolio-layer">
                <h4>Web Design</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim minus eligendi quaerat
                    excepturi. Labore neque minus deserunt totam et nesciunt doloribus sequi dolore autem alias,
                    voluptatem doloremque eum aliquam?</p>
                <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="{% static 'images/portfolio4.jpg' %}" alt="">
            <div class="portfolio-layer">
                <h4>Web Design</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim minus eligendi quaerat
                    excepturi. Labore neque minus deserunt totam et nesciunt doloribus sequi dolore autem alias,
                    voluptatem doloremque eum aliquam?</p>
                <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="{% static 'images/portfolio5.jpg' %}" alt="">
            <div class="portfolio-layer">
                <h4>Web Design</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim minus eligendi quaerat
                    excepturi. Labore neque minus deserunt totam et nesciunt doloribus sequi dolore autem alias,
                    voluptatem doloremque eum aliquam?</p>
                <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="{% static 'images/portfolio6.jpg' %}" alt="">
            <div class="portfolio-layer">
                <h4>Web Design</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim minus eligendi quaerat
                    excepturi. Labore neque minus deserunt totam et nesciunt doloribus sequi dolore autem alias,
                    voluptatem doloremque eum aliquam?</p>
                <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

    </div>
</section>