{% load static %}

{% block content %}
<!-- portfolio section design -->
<section class="portfolio" id="portfolio">
    <h2 class="heading">Latest <span>Projects</span></h2>
    {% if project %}

    <div class="portfolio-container">
        {% for p in project %}
        <div class="portfolio-box">
            <img src="{{ p.proj_img }}" alt="">
            <div class="portfolio-layer">
                <h4>{{ p.project }}</h4>
                <p>{{ p.project_desc }}</p>
                <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>Nenhum dado encontrado.</p>
    {% endif %}
</section>
{% endblock %}