{% load static %}

{% block content %}
<!-- services section design -->
<section class="services" id="services">
    <h2 class="heading">My <span>Services</span></h2>
    {% if service %}
    <div class="services-container">
        {% for s in service %}
        <div class="services-box">
            <i class='bx bx-code-alt'></i>
            <h3>{{ s.service }}</h3>
            <p>{{ s.service_desc }}</p>

            <a href="#" class="service-btn"> Read More</a>
        </div>
        {% endfor %}

    </div>
    {% else %}
    <p>Nenhum dado encontrado.</p>
    {% endif %}

</section>
{% endblock %}