 {% load static %}

    <!-- services section design -->
    <section class="services" id="services">
        <h2 class="heading">My <span>Services</span></h2>

        <div class="services-container">
            <div class="services-box">
                <i class='bx bx-code-alt'></i>
                <h3>Web Development</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, quo inventore quis sunt fuga ex
                    cumque labore et, pariatur obcaecati provident vitae ipsam nostrum mollitia. Vero sint aliquam
                    similique
                    laborum officia accusantium fugit.</p>

                <a href="#" class="service-btn"> Read More</a>
            </div>

            <div class="services-box">
                <i class='bx bx-line-chart'></i>
                <h3>Data Analysis</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, quo inventore quis sunt fuga ex
                    cumque labore et, pariatur obcaecati provident vitae ipsam nostrum mollitia. Vero sint aliquam
                    similique
                    laborum officia accusantium fugit.</p>

                <a href="#" class="service-btn"> Read More</a>
            </div>

            <div class="services-box">
                <i class='bx bxs-dashboard'></i>
                <h3>Dashboards</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, quo inventore quis sunt fuga ex
                    cumque labore et, pariatur obcaecati provident vitae ipsam nostrum mollitia. Vero sint aliquam
                    similique
                    laborum officia accusantium fugit.</p>

                <a href="#" class="service-btn"> Read More</a>
            </div>

        </div>

    </section>