{% load static %}
<section id="services" class="services section-padding">
      <div class="container">
        <div class="row">
          <!-- Services item -->
          {% for s in servicos %}
          <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="0.3s">
              <div class="icon">
                <i class="{{ s.icone }}"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">{{ s.servico }}</a></h3>
                <p>{{ s.descricao }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>