{% load static %}
<section id="about" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            {% for n in sobres %}
            <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
              <img class="img-fluid" src="{% static 'img/about/eu.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
              <h3>{{ n.nome }}</h3>
              <p> {{ n.descricao }} </p>
              <div class="about-profile">
                <ul class="admin-profile">
                  <li><span class="pro-title"> Nome: </span> <span class="pro-detail">{{ n.nome }}</span></li>
                  <li><span class="pro-title"> Experiência: </span> <span class="pro-detail">{{ n.experiencia }}</span></li>
                  <li><span class="pro-title"> País: </span> <span class="pro-detail">{{ n.pais }}</span></li>
                  <li><span class="pro-title"> Localização: </span> <span class="pro-detail">{{ n.local }}</span></li>
                  <li><span class="pro-title"> E-mail: </span> <span class="pro-detail">{{ n.email }}</span></li>
                  <li><span class="pro-title"> Telefone: </span> <span class="pro-detail">{{ n.telefone }}</span></li>
                  <li><span class="pro-title"> Freelance: </span> <span class="pro-detail">{{ n.freela }}</span></li>
                </ul>
              </div>
              <a href="{% static 'Raissa Azevedo.pdf' %}" target="_blank" class="btn btn-common"><i class="icon-paper-clip"></i> Download Resumo</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>